<!DOCTYPE html>
<html>

<head>

    <title>Cart</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <h1>🛒 Your Cart</h1>

    <a href="/">
        Home
    </a>

</nav>

<div class="cart-container">

{% if cart_items %}

    {% for item in cart_items %}

    <div class="cart-card">

        <img src="{{ item.image }}">

        <div>

            <h3>{{ item.title }}</h3>

            <p>₹{{ item.price }}</p>

            <a href="/remove/{{ loop.index0 }}">
                Remove
            </a>

        </div>

    </div>

    {% endfor %}

    <div class="total-box">

        <h2>Total: ₹{{ total }}</h2>

        <a href="/checkout">

            <button>
                Proceed to Checkout
            </button>

        </a>

    </div>

{% else %}

<h2 class="empty-cart">
    Your cart is empty 🛒
</h2>

{% endif %}

</div>

</body>

</html>